---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <Header />
  <main>
    <h1 class="my-24 text-black">
      APENDAMOOOOSS <span class="text-gradient">ESPAÑOOOL</span>
    </h1>
  </main>
</Layout>
