<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 m-4">
  <div class="h-32 rounded-3xl bg-gray-200"> estadísticas </div>
  <div class="h-32 rounded-3xl bg-gray-200 lg:col-span-2"> (personas que aprender español y beneficios) </div>
</div>
